@media only screen and (min-width: 800px) {
    body {
        margin: 0px;
        display: flex;
        flex-direction: column;  
        background-image: url("../images/bgSky.png");
        background-size:cover;
        background-repeat:no-repeat;
        background-position: 100%!important;  
    }

    .sceneSquiders {
        height: 400px!important;
        display:flex;
        align-items: flex-end;
        flex-wrap : wrap;
    }


 }

body {
    margin: 0px;
    display: flex;
    flex-direction: column;  
    background-image: url("../images/bgSky.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: top ;  
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}


a {
    padding: 0!important;
    margin: 0!important;
    text-decoration: none;
    color: white;
}





a button {
    margin: 20px 0 0 50px;
    background-color: #DE145D;
    padding: 5px!important;
    width: 120px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    font-weight: normal;
    cursor: pointer;
    font-family: 'Press Start 2P'
    
}

button{
    background-color:transparent;
    border: 0 !important;
    cursor: pointer;
    }

.homeButton a {
        margin: -10px 0 0 20px!important;
        height: 30px;
        text-align: center;
        background-color: #DE145D;
        padding: 0 10px 0 10px!important;
        width: auto;
        text-decoration: none;
        color: white;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Press Start 2P';
        font-size: 8px;
        display: flex;
        align-items: center;
    }  

audio{
    display: none;
}

.sceneDoll {
    padding-top: 10px;
    width: 100%;
    /*background-image: url("../images/bgSky.jpg");*/
    height: 346px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index:0!important;
}

.trafficLightGreen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.tree {
    background-image: url("../images/treeAndGuards.png");
    width: 226px;
    height: 345px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center
}

#doll {
    width: 120px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.laserContainer {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    z-index: 1;
    
}

.resultsSquiders {
    border: 4px solid #000000;
    width: 20%;
    height: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#2D4349;
    margin:0 2% 2% 0;
    padding:3%;
    font-family:'Courier New', Courier, monospace;
    font-size:16px;
    color:#ffffff;
    font-weight:bold;
    overflow-y: scroll;
}
.resultsSquiders h2{
    font-size:20px;
    text-align:center;
}

.swal2-icon {
    border: 0!important;
}

.swal2-actions {
    background-color: #DE145D;
    width: 75px;
    height: 30px;
    text-decoration: none;
    color: #DE145D;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.swal2-styled {
    margin:0;
    padding: 0;
    border-radius: 0!important;
    transition: none;
    box-shadow: 0;
    border: 0;
}

.swal2-styled.swal2-confirm {
    margin:0;
    padding: 0;
    border-radius: 25px!important;
    background-color: #DE145D!important;
    border: 0;
    transition: none;
    box-shadow: 0;
    border: 0;
}

[class^=swal2] {
    -webkit-tap-highlight-color:#DE145D ; 
}

.swal2-confirm {
    border: 0;
    border-radius:0;
    background: #DE145D;
    background-color: #DE145D;
    color: #fff;
    font-size: 1em;
}

.sceneSquiders {
    width: 100%;
    /*background-image: url("../images/bgOpenRoad.jpg");*/
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #ffffff;
    flex-wrap : wrap;
   
    z-index:1000!important;
}



.animate__animated{
    background-color:#ffffff;
    border:5px solid #DE145D;
    color: #0F4A2F;
    padding:5px; 
    border-radius:80%;
    height:60px;
     }


.arroyPlay{
    width:100%;
    display:flex;
    flex-direction: column;
    font-size:25px;
    font-family: 'Press Start 2P';
    padding:5px 0 5px 0;
    }
    


.squidImage{
    background-image: url("../images/squider.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width:80px;
    height:80px;
    text-align:center;
    font-size:8px;
    font-family: 'Press Start 2P';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
}

.squider {
    height: 80px;
    width: 48px;
   
}

 


.Himo, .Noa, .Raquel, .Bea, .Karmela { 
    height: 6vh;
    aspect-ratio: 1 / 1;
    position: relative;
    animation-delay: 4s;
    animation-name: animation01;
    animation-duration: 9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function:ease;
    animation-play-state: running;
 }


@keyframes animation01{
  0%   {left:0px; top:0px;}
  5%   {left:10px; top:-10px;}
  10%  {left:-10px; top:-15px;}
  15%  {left:0px; top:-20px;}
  25%  {left:-20px; top:-20px;}
  35%  {left:10px; top:-25px;}
  40%  {left:-55px; top:-30px;}
  45%  {left:0px; top:-40px;}
  55%  {left:10px; top:-45px;}
  60%  {left:-35px; top:-50px;}
  65%  {left:-30px; top:-50px;}
  75%  {left:-35px; top:-55px;}
  80%  {left:-40px; top:-50px;}
  100% {left:8px; top:-40px;}

  from {transform: translateY(0vh);}
  to {transform: translateY(-18vh);}
 }

 

 .Flor, .Alesia, .PalomaR, .Sierri, .Ana {
  height: 8vh;
  aspect-ratio: 1 / 1;
  position: relative;
  animation-delay: 4s;
  animation-name: animation02;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


  @keyframes animation02{
    0%   {left:0px; top:0px;}
    5%   {left:-10px; top:-5px;}
    10%  {left:10px; top:-10px;}
    15%  {left:0px; top:-25px;}
    25%  {left:20px; top:-20px;}
    35%  {left:-20px; top:-25px;}
    40%  {left:-55px; top:-30px;}
    45%  {left:0px; top:-40px;}
    55%  {left:20px; top:-45px;}
    60%  {left:-35px; top:-50px;}
    65%  {left:40px; top:-50px;}
    75%  {left:-35px; top:-55px;}
    80%  {left:-30px; top:-50px;}
    100% {left:40px; top:-50px;}

    from {transform: translateY(0vh);}
    to {transform: translateY(-18vh);}
 }

 .Leidy, .Paula, .Alba, .Nathy, .Esther{
    height: 5vh;
    aspect-ratio: 1 / 1;
    position: relative;
    animation-delay: 4s;
    animation-name: animation03;
    animation-duration: 9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
      
      
 @keyframes animation03{
    0%   {right:0px; top:0px;}
    5%   {right:-10px; top:-5px;}
    10%  {rightt:10px; top:-10px;}
    15%  {right:0px; top:-25px;}
    25%  {right:20px; top:-20px;}
    35%  {right:-20px; top:-25px;}
    40%  {right:-55px; top:-30px;}
    45%  {right:20px; top:-40px;}
    55%  {right:20px; top:-45px;}
    60%  {right:-35px; top:-50px;}
    65%  {right:40px; top:-50px;}
    75%  {right:-35px; top:-55px;}
    80%  {right:-40px; top:-50px;}
    100% {right:-40px; top:-50px;}
    from {transform: translateY(0vh);}
    to {transform: translateY(-16vh);}
 }


 .Sandra, .CarmenG, .LolaN, .LolaG, .Adri {
    height: 9vh;
    aspect-ratio: 1 / 1;
    position: relative;
    animation-delay: 4s;
    animation-name: animation04;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}
              
              
@keyframes animation04{
    0%   {left:0px; top:0px;}
    5%   {left:-10px; top:-5px;}
    10%  {left:10px; top:-10px;}
    15%  {left:0px; top:-25px;}
    25%  {left:20px; top:-20px;}
    35%  {left:-20px; top:-25px;}
    40%  {left:-55px; top:-30px;}
    45%  {left:0px; top:-40px;}
    55%  {left:20px; top:-45px;}
    60%  {left:-35px; top:-50px;}
    65%  {left:40px; top:-50px;}
    75%  {left:-35px; top:-55px;}
    80%  {left:-30px; top:-50px;}
    100% {left:0px; top:15px;}
    from {transform: translateY(0vh);}
    to {transform: translateY(-14vh);}
 }

 .Paloma, .Camila, .VeroK, .Veflo, .Elena{
    height: 10vh;
    aspect-ratio: 1 / 1;
    position: relative;
    animation-delay: 4s;
    animation-name: animation05;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
 }
                  
                  
@keyframes animation05{
    0%   {right:0px; top:0px;}
    5%   {right:10px; top:-10px;}
    10%  {right:-10px; top:-15px;}
    15%  {right:0px; top:-20px;}
    25%  {right:-20px; top:-20px;}
    35%  {right:10px; top:-25px;}
    40%  {right:-15px; top:-30px;}
    45%  {right:0px; top:-36px;}
    55%  {right:20px; top:-40px;}
    60%  {rightt:-35px; top:-35px;}
    65%  {right:-30px; top:-50px;}
    75%  {right:45px; top:-45px;}
    80%  {left:30px; top:-35px;}
    100% {left:0px; top:-40px;}
    from {transform: translateY(0vh);}
    to {transform: translateY(-12vh);}
    
}
    


footer {
    width: 100%;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}