body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    padding: 0!important;
    margin: 0!important;
    text-decoration: none;
    color: white;
}

.instructions {
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.instructions {
    margin: 10px 0 0 20px;
    height: 30px;
    text-align: center;
    background-color: #DE145D;
    padding: 0;
    width: auto;
    font-size: 14px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Press Start 2P';
    font-size: 10px;
    display: flex;
    align-items: center;
}

a button {
    margin: 20px 0 0 50px;
    background-color: #DE145D;
    padding: 5px!important;
    width: 120px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    font-weight: normal;
    cursor: pointer;
    font-family: 'Press Start 2P'
    
}

button{
    background-color:transparent;
    border: 0 !important;
    cursor: pointer;
    }

audio{
    display: none;
}

.sceneDoll {
    border: 1px solid blue !important;
    padding-top: 10px;
    width: 100%;
    background-image: url("../images/bgSky.jpg");
    height: 346px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.trafficLightGreen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.tree {
    border: 1px solid red;
    background-image: url("../images/treeAndGuards.png");
    width: 226px;
    height: 345px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center
}

.tree img {
    width: 120px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.laserContainer {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    z-index: 1;
    
}

.resultsSquiders {
    border: 4px solid #000000;
    width: 15%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:#2D4349;
    padding:3%;
    font-family:‘Courier New’, Courier, monospace;
    font-size:16px;
    color:#ffffff;
    font-weight:bold;
    overflow-y: scroll;
}
.resultsSquiders h2{
    font-size:20px;
    text-align:center;
}

.swal2-icon {
    border: 0!important;
}

.swal2-actions {
    background-color: #DE145D;
    width: 75px;
    height: 30px;
    text-decoration: none;
    color: #DE145D;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.swal2-styled {
    margin:0;
    padding: 0;
    border-radius: 0!important;
    transition: none;
    box-shadow: 0;
    border: 0;
}

[class^=swal2] {
    -webkit-tap-highlight-color:#DE145D ; 
}

.swal2-confirm {
    border: 0;
    border-radius:0;
    background: #DE145D;
    background-color: #DE145D;
    color: #fff;
    font-size: 1em;
}

.sceneSquiders {
    border: 1px solid blue !important;
    width: 100%;
    background-image: url("../images/bgOpenRoad.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}





.animate__animated{
    color:white;
     }







.squidImage{
    border:1px solid yellow;
    background-image: url("../images/squider.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width:80px;
    height:80px;
    text-align:center;
    font-size:8px;
    font-family: 'Press Start 2P';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;

}

.squider {
    height: 80px;
    width: 48px;
   
}

 
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    --animate-repeat: 10;
    
  }
.Himorell{
     --animate-duration: 800ms;
     --animate-delay: 0.9s;
    --animate-repeat: 10;
    display: inline-block;
    margin: 0 0.5rem;
    margin-top:80px;
    transform-origin:150px center; 
    position:relative; 
    animation:rotate 3s linear infinite; }

  .Himorell::before { content:''; position:absolute; height:200px; width:100px; background:transparent; animation:rotate 3s linear reverse infinite; }
  @keyframes rotate{ 100% { transform:rotate(360deg); }
   }

.Flor{
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    --animate-repeat: 10;
    display: inline-block;
    margin: 0 0.5rem;
    margin-top:80px; 
    transform-origin:150px center; 
    position:relative; 
    animation:rotate02 3s linear infinite; }

  .Flor::before { 
    content:''; 
    position:absolute;
    height:200px; 
    width:100px; 
    background:transparent; 
    animation:rotate 3s linear alternate infinite; }
  @keyframes rotate02{ from {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(100deg);
  } }
   

      


 

footer {
    width: 100%;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

