body{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/bgSky.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header{
    margin: 15px;
}

main{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.instruction{
    font-size: 18px;
    font-weight: 400;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: DE145D;
}
.doll img{
    height: 170px;
    width: 81px;

}

mainFooter{
    display: inline;
    color: white;
    justify-content: end;
}